.clr {
	clear: both;
}
/* Header Style */
.header1 {
	font-family: 'Arial Narrow', Arial, sans-serif;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	z-index: 20;
}

.header1 a {
	padding: 0px;
	letter-spacing: 1px;
	color: #fff;
	text-align: right;
}

.header1 a:hover {
	color: #ddd;
}

.header1 a span {
	font-weight: bold;
}

.header1 span.right_ab {
	position: absolute;
	right: 4px;
}
/* Top Bar */
.ib-top {
	background: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	height: 40px;
}

.ib-top h1 {
	color: #333;
	font-size: 22px;
	line-height: 40px;
	padding: 0 0px;
}

.ib-top h1 span {
	color: #555;
	font-size: 12px;
}

.ib-main-wrapper {
	width: 100% -398px;
	overflow: hidden;
	margin-left: 398px;
	outline: none; /*height dynamic*/
}

.ib-main {
	position: relative; /*width: 2546px;*/
}

.ib-main a {
	float: left;
	width: 210px;
	height: 210px;
	position: relative;
	overflow: hidden;
	margin: 0px;
	cursor: move; /*cursor: url(../../img/interface/cursor/drag.png);*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ib-main a.ib-loading,.ib-main a.ib-loading:hover {
	background: #fff url(../../img/loading.gif) no-repeat center center;
	background-size: 31px 31px;
}

.ib-main a h1 {
	position: absolute;
	padding: 35px;
	color: #ffc200;
	font-size: 123px;
	opacity: 0.5;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.ib-main a span.more {
	width: 123px;
	height: 22px;
	margin-left: 45px;
	padding: 7px 0px 0px 0px;
	background-color: #ddd;
	border-top: 1px solid #fff;
	cursor: pointer;
	font: 700 15px 'Arial', Helvetica, Clean, sans-serif;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	font-weight: normal;
	font-size: 12px;
	color: #888;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	transition: background-position .2s ease, margin .1s ease;
	-webkit-transition: background-position .2s ease, margin .1s ease;
	-moz-transition: background-position .2s ease, margin .1s ease;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ib-main a span.bar {
	width: 1px;
	height: 14px;
	position: absolute;
	background: #999;
	top: 7px;
	left: 29px;
}

.ib-main a span div.iconmore {
	float: left;
	width: 29px;
	margin-left: 10px;
	margin-top: -4px;
	font-weight: bold;
	font-size: 1.7em;
}

.ib-main a.ib-loading img,.ib-main a.ib-loading:hover img {
	opacity: 0.5;
}

.ib-main>a.ib-loading>span,.ib-main a.ib-loading>span {
	display: none;
}

.ib-main a img {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ib-main>a>span {
	display: block;
	position: absolute;
	width: 100%;
	height: 20px;
	line-height: 22px;
	text-align: center;
	font-size: 11px;
	bottom: -35px;
	left: 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ib-main a:hover>span {
	bottom: 20px;
}

.ib-main a:hover>h1 {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ib-main a:hover img {
	opacity: 1;
}

.ib-main a:hover {
	background-size: 100% 100%;
}

.ib-content {
	background: #f9f9f9;
}

.ib-content .ib-teaser {
	text-align: center;
	background: #333;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ib-teaser h2 {
	color: #fff;
	font-size: 26px;
	line-height: 26px;
	padding-top: 40%;
	text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.ib-teaser h2 span {
	text-transform: none;
	font-size: 16px;
	font-family: Georgia, serif;
	font-style: italic;
	display: block;
}

.ib-content .ib-teaser:hover {
	background: #000;
}

.ib-content-preview {
	position: absolute;
	top: 44px;
	left: 0px;
	background: #000;
	width: 100%;
	height: 630px; /*dynamic*/
	display: none;
}

.ib-content-preview .ib-teaser h2 {
	font-size: 50px;
	padding: 85px 40px 20px 40px;
}

.ib-content-preview .ib-teaser span {
	padding: 20px 0px 0px 5px;
	font-size: 22px;
}

.ib-content-full {
	font-family: 'Oswald';
	text-transform: none;
	line-height: 26px;
	margin: 0px 40px;
	border-top: 1px solid #333;
	padding: 20px 0px;
	font-size: 16px;
}

.ib-content-full p {
	padding: 5px 0px;
}

.ib-preview {
	overflow: hidden;
	position: absolute;
	top: 40px;
	display: none;
}

.ib-preview-descr {
	position: absolute;
	bottom: 30px;
	left: 10px;
	z-index: 999;
	font-size: 50px;
	text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
	width: 199px;
	height: 100%;
	position: absolute;
	left: 398px;
	top: 0;
	font-size: 14px;
	color: #ffc200;
	z-index: 999;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.if-proyect-descr {
	width: 155px;
	height: 100%;
	position: absolute;
	left: 199px;
	background-color: rgba(222, 222, 222, 0.85);
	font-size: 22px;
	color: #353535;
	padding: 22px;
	z-index: 9;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.if-proyect-subtitle {
	width: 155px;
	position: relative;
	left: -199px;
	top: 27px;
	color: #999;
	font-size: 14px;
	padding: 22px;
	z-index: 9;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.if-proyect-info {
	width: 155px;
	position: relative;
	left: -199px;
	top: 0px;
	color: #222;
	font-size: 11px;
	padding: 22px;
	line-height: 1.2em;
	z-index: 9;
	text-shadow: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.if-proyect-link {
	width: 155px;
	position: relative;
	left: -199px;
	top: 0px;
	color: #858585;
	font-size: 12px;
	padding: 22px;
	z-index: 9; /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.thumbs-wrapper {
	margin-left: 398px;
	z-index: 1;
	overflow: hidden;
	display: none;
}

.thumbs img {
	position: absolute; /*height: 100%;*/
}
/*.thumbs-nav{position: absolute;top: 22%;cursor: pointer;z-index: 10000;right: 0px;}
.thumbs-nav span{width:47px;height:45px;background:transparent url(../../img/interface/navigation.png) no-repeat top left;float: left;    text-indent:-9000px;z-index: 999;display:none;}
.thumbs-nav span.thumbs-nav-next{   background-position:top right;}
.thumbs-nav span.thumbs-nav-prev:hover{background-position:bottom left;}
.thumbs-nav span.thumbs-nav-next:hover{background-position:bottom right;}
*/
.ib-preview img {
	position: absolute;
}

.ib-nav span {
	width: 47px;
	height: 47px;
	position: absolute;
	bottom: 10px;
	margin-top: -43px;
	margin-left: 450px;
	cursor: pointer;
	text-indent: -9000px;
	opacity: 0.7;
	z-index: 999;
	/*background: transparent url(../../images/nav.png) no-repeat top right;*/
	left: 0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.ib-nav span.ib-nav-prev {
	background-position: top left;
	background: transparent url(../../img/back.png) no-repeat top right;
}

.ib-nav span.ib-nav-next {
	background-position: top left;
	margin-left: 500px;
	background: transparent url(../../img/forward.png) no-repeat top right;
}

.ib-close {
	top: 50%;
	right: 0px;
	background: transparent url(../../img/close_dull.png) no-repeat center
		center; /*iF inverted control*/
	position: absolute;
	width: 47px;
	height: 45px;
	cursor: pointer;
	opacity: 0.7;
	z-index: 999;
	text-indent: -9000px;
}

.ib-nav span:hover,.ib-close:hover {
	opacity: 1;
}

.ib-loading-large {
	text-indent: -9000px;
	width: 60px;
	height: 60px;
	background: #fff url(../../img/loading.gif) no-repeat center center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	z-index: 999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	opacity: 0.9;
}