.iF-logo {
	width: 200px;
	height: 141px;
	margin: 22px 0 0 39px;
}

.html5Loader {
	width: 500px;
	height: 500px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.95);
	margin: 0;
	position: absolute;
}

* {  
	margin: 0;
	padding: 0;
}

html {
	overflow-x:hidden;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	
	width: 100%;
	height: 100%;
	min-width: 700px;
	margin: 0;
	font-family: Helvetica, Arial, "sans-serif";
}

header {
overflow:hidden;	

}

img {
	border: none;
}


nav {
	position: absolute;
	top: 35%;
}

nav a {
	position: relative;
	display: inline-block !important;
	width: 88px;
	height: 35px;
	margin: 0px 0px 7px 27px;
	padding: 1px 0px 1px 59px;
	background-color: #ffba00;
	border-top: 1px solid #ffc200;
	cursor: pointer;
	font: 700 15px Helvetica, Arial, Clean, sans-serif;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	font-weight: bold;
	font-size: 14px;
	color: #222;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	transition: background-position .2s ease, margin .1s ease;
	-webkit-transition: background-position .2s ease, margin .1s ease;
	-moz-transition: background-position .2s ease, margin .1s ease;
}

nav a small {
	color: #555;
	font-size: 11px;
	font-weight: normal;
}

nav a span {
	position: absolute;
	width: 29px;
	height: 29px;
	top: 5px;
	left: 11px;
}

nav a span.icon1 {
	background: url(../../img/ui/iconHome.png) no-repeat center;
}

nav a span.icon2 {
	background: url(../../img/ui/iconWeare.png) no-repeat center;
}

nav a span.icon3 {
	background: url(../../img/ui/iconPortfolio.png) no-repeat center;
}

nav a span.icon4 {
	background: url(../../img/ui/iconClients.png) no-repeat center;
}

nav a span.icon5 {
	background: url(../../img/ui/iconHello.png) no-repeat center;
}

nav a:active {
	border: 1px solid #ffc200;
}
/*nav a:active { -webkit-bo3-shadow: -1px -1px 1px 0 rgba(0,0,0,.3); -moz-box-shadow: -1px -1px 1px 0 rgba(0,0,0,.3); box-shadow: -1px -1px 1px 0 rgba(0,0,0,.3); margin: 2px 0 5px 25px;}*/
nav a:hover {
	border: 1px solid #fff;
}

nav a.selected {
	border: 2px solid #fff;
	color: #fff;
	text-shadow: #888 1px 1px 1px;
}

nav a span.bar {
	width: 1px;
	height: 29px;
	position: absolute;
	background: #222;
	top: 3px;
	left: 50px;
}

h1 {
	color: white;
	margin-top: 73px;
	margin: 12px 0px 0px -117px; font-size : 16px;
	opacity: 0.5;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-size: 16px;
}

h2 {
	font-size: 17px;
	letter-spacing: -.09em;
	padding: 0px 0px 0px 17px;
	color: #555;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

h3 {
	font-size: 14px;
	letter-spacing: -.05em;
	padding: 5px 22px 0px 22px;
	color: #444;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

h4 {
	font-size: 11px;
	padding: 0px;
	line-height: 14px;
	color: #666;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	margin: 3px 0px;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	width: auto;
	height: auto;
	-webkit-appearance: button;
}

input,textarea,select {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 150px;
	height: 18px;
	padding: 4px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 14px;
	color: #555555;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	height: 50px
}

input:focus,textarea:focus {
	border-color: rgba(255, 194, 14, 0.7);
	outline: 0;
	outline: thin dotted \9;
}



::-moz-selection {
	background: #fc0;
	color: #000;
	text-shadow: none;
}

::selection {
	background:  #2F7EC1;
	color: #000;
	text-shadow: none;
}

.if-microdata {
	display: none;
}

.btn {
	display: inline-block;
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}

.ei-slider {
	position: relative;
	margin-left: 199px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.ei-slider-loading {
	width: 100%;
	height: 100%;
	
	position: relative;
	padding: 50px 0 0 425px;
	font-size: 11px;
	top: 0px;
	left: 0px;
	
	color: #fff;
}

.ei-slider-loading b {
	font-size: 14px;
}

.ei-slider-large {
	height: 100%;
	width: 100%;
	overflow:hidden;
	
}

.ei-slider-large li {
	position: absolute;
	top: 10px;
	width:1447px;
      
	overflow:hidden;
}

.ei-slider-large li img {
	width: 100%;
}





.ei-slider-thumbs {
	
}

.ei-slider-thumbs li {
	line-height: 7px;
	margin: 10px 0px;
}

.ei-slider-thumbs li.ei-slider-element {
	display: inline-block !important;
	top: 0px;
	position: absolute;
	height: 0px;
	z-index: 100;
	background: #959595;
}

.ei-slider-thumbs li a {
	position: relative;
	display: inline-block !important;
	width: 99px;
	height: 17px;
	margin-left: 22px;
	padding: 8px 0px 5px 50px;
	background-color: #ddd;
	border-top: 1px solid #fff;
	cursor: pointer;
	font: 700 15px Helvetica, Arial, Clean, sans-serif;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	font-weight: normal;
	font-size: 14px;
	color: #888;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	transition: background-position .2s ease, margin .1s ease;
	-webkit-transition: background-position .2s ease, margin .1s ease;
	-moz-transition: background-position .2s ease, margin .1s ease;
}

.ei-slider-thumbs li a.hide {
	position: absolute;
	display: none;
	width: 5px;
	height: 5px;
	padding: 0;
	top: -10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px rgba(0, 0, 0, 0);
	box-shadow: 0px rgba(0, 0, 0, 0);
	transition: background-position .2s ease, margin .1s ease;
	-webkit-transition: background-position .2s ease, margin .1s ease;
	-moz-transition: background-position .2s ease, margin .1s ease;
}

.ei-slider-thumbs li a span {
	position: absolute;
	width: 29px;
	height: 29px;
	top: 0px;
	left: 5px;
}

.ei-slider-thumbs li a:hover {
	border: 1px solid #fff;
}

.ei-slider-thumbs li a:active {
	border: 1px solid  #2F7EC1;
}

.ei-slider-thumbs li a span.bar {
	width: 1px;
	height: 17px;
	position: absolute;
	background: #999;
	top: 7px;
	left: 39px;
}

.ei-slider-thumbs li span.icon1 {
	background: url(../img/services/box/icon1.png) no-repeat center;
}

.ei-slider-thumbs li span.icon2 {
	background: url(../img/services/box/icon2.png) no-repeat center;
}

.ei-slider-thumbs li span.icon3 {
	background: url(../img/services/box/icon3.png) no-repeat center;
}

.ei-slider-thumbs li span.icon4 {
	background: url(../img/services/box/icon4.png) no-repeat center;
}

.ei-slider-thumbs li span.icon5 {
	background: url(../img/services/box/icon5.png) no-repeat center;
}

.ei-slider-thumbs li span.icon6 {
	background: url(../img/services/box/icon6.png) no-repeat center;
}

.ei-slider-thumbs li span.icon7 {
	background: url(../img/services/box/icon7.png) no-repeat center;
}

.ei-slider-thumbs li span.icon8 {
	background: url(../img/services/box/icon8.png) no-repeat center;
}

.ei-slider-thumbs li span.icon9 {
	background: url(../img/services/box/icon9.png) no-repeat center;
}

.ei-slider-thumbs li span.icon10 {
	background: url(../img/services/box/icon10.png) no-repeat center;
}

.ei-slider-thumbs li span.icon11 {
	background: url(../img/services/box/icon11.png) no-repeat center;
}

.ei-title {
	width: 218px;
	height:100%;
	position: absolute;
	left: 227px;
	top:0px;
	background-color: rgba(222, 225, 222, 0.9);
}

.ei-title div {
	width: 155px;
	padding: 0px 0px 2px 11px;
}

.ei-title h2,.ei-title p {
	width: 155px;
	text-align: left;
}

.ei-title h4 {
	font-size: 11px;
	padding: 0px;
	line-height: 14px;
	color: #666;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	margin: 3px 0px;
}

.ei-title h2,.ei-title p {
	width: 155px;
	text-align: left;
}

.ei-title p {
	font-size: 11px;
	padding: 0px 11px 11px 22px;
	line-height: 14px;
	color: #666;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	margin: 3px 0px;
text-align: justify;
}


.slide2-0 {
	margin-left: 17px;
	height: 70px;
	background: url(../img/services/html.png) no-repeat center;
}

.slide2-1,.slide2-2,.slide2-3,.slide2-4,.slide2-5,.slide2-6,.slide2-7,.slide2-8
	{
	height: 27px;
	margin-left: 22px;
}

.slide2-1 {
	background: url(../img/services/3.png) no-repeat left;
}

.slide2-2 {
	background: url(../img/services/conect.png) no-repeat left;
}

.slide2-3 {
	background: url(../img/services/semantica.png) no-repeat left;
}

.slide2-4 {
	background: url(../img/services/media.png) no-repeat left;
}

.slide2-5 {
	background: url(../img/services/css3.png) no-repeat left;
}

.slide2-6 {
	background: url(../img/services/icon1.png) no-repeat left;
}

.slide2-7 {
	background: url(../img/services/icon2.png) no-repeat left;
}

.slide2-8 {
	background: url(../img/services/icon3.png) no-repeat left;
}

.slide3-0 {
	height: 103px;
	background: url(../img/services/appicon.png) no-repeat center;
}

.slide3-1 {
	height: 50px;
	margin-left: 22px;
	background: url(../img/services/plataformas.png) no-repeat left;
}

.slide4-0 {
	height: 145px;
	background: url(../img/services/seoicon.png) no-repeat center;
}

.slide5-1,.slide5-2,.slide5-3,.slide5-4,.slide5-5 {
	height: 30px;
	margin-left: 22px;
}

.slide5-1 {
	background: url(../img/services/icon.png) no-repeat left;
}

.slide5-2 {
	background: url(../img/services/icon2.png)  no-repeat left;
}

.slide5-3 {
	background: url(../img/services/icon3.png)  no-repeat left;
}

.slide5-4 {
	background: url(../img/services/icon4.png)  no-repeat left;
}

.slide5-5 {
	background: url(../img/services/icon5.png)  no-repeat left;
}

.slide6-1,.slide6-2,.slide6-3,.slide6-4,.slide6-5,.slide6-6,.slide6-7,.slide6-8
	{
	height: 35px;
	margin-left: 22px;
}

.slide6-1 {
	background: url(../img/services/11.png) no-repeat left;
}

.slide6-2 {
	background: url(../img/services/12.png) no-repeat left;
}

.slide6-3 {
	background: url(../img/services/13.png) no-repeat left;
}

.slide6-4 {
	background: url(../img/services/14.png) no-repeat left;
}

.slide6-5 {
	background: url(../img/services/15.png) no-repeat left;
}

.slide6-6 {
	background: url(../img/services/16.png) no-repeat left;}

.slide6-7 {
	background: url(../img/services/17.png) no-repeat left;
}

.slide6-8 {
	background: url(../img/services/18.png) no-repeat left;
}

.slide7-1,.slide7-2 {
	margin-left: 22px;
}

.slide7-1 {
	height: 77px;
	background: url(../img/3d.png) no-repeat left;
}

.slide7-2 {
	height: 37px;
	background: url(../img/services/3d2.png) no-repeat left;
}

.slide8-0 {
	height: 99px;
	background: url(../img/services/video.png) no-repeat center;
}

.slide8-1 {
	height: 41px;
	margin-left: 22px;
	background: url(../img/services/vid1.png) no-repeat left;
}

.slide9-0 {
	height: 99px;
	background: url(../img/services/foto.png) no-repeat center;
}

.slide9-1 {
	height: 50px;
	margin-left: 22px;
	background: url(../img/services/reto.png) no-repeat left;
}

.slide10-0 {
	height: 88px;
	background: url(../img/services/printicon.png) no-repeat center;
}

.home-content {
	right: 40px;
	left: 199px;
	top: 0px;
	position: absolute;
}

.content {
	width: 224px;
	height:100.5%;
	left: 1px;
	top: -23px;
	position: absolute;
	background: white;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
	z-index: 20;
}

.content h2 {
	font-size: 22px;
	letter-spacing: -.05em;
	padding: 17px 0px 0px 3px;
	color: #2F7EC1;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.content p {
	font-size: 11px;
	padding-right:11px;
	line-height: 14px;
	color: #555;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	margin: 2px 9px;
     text-align: justify;
}


.ifpanel {
	width: 100%;
	height: 100%; /*min-width:755px;min-height:585px;*/
	top: 0px;
	position: absolute;
	
	box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.2);
	margin-left: -170%;
	z-index: 10;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.ifpanel:target {
	margin-left: 0%;
}
/*#home:target ~ #header #navigation #link-home,#portfolio:target ~ #header #navigation #link-portfolio,#about:target ~ #header #navigation #link-about,#contact:target ~ #header #navigation #link-contact{background: #000;color: #fff;}*/
.if-awards {
	list-style: none;
	text-align: center;
	font-size: 11px;
	color: #777;
	line-height: 10px;
}

.laurel {
	width: 117px;
	height: 107px;
	background: url(../../img/folio/awards/laurel.png) no-repeat left;
	margin: 0px 0 0 39px;
	padding-top: 22px;
}

.small-laurel {
	height: 45px;
	background: url(../../img/folio/awards/small-laurel.png) no-repeat left;
	margin: 0px 0 0 25px;
	text-align: left;
	padding: 10px 0 0 55px;
}

.client-wrapper {
	width: 100% -398px;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.if-clients {
	margin-left: 398px;
}

.if-clients li {
	list-style: none;
	float: left;
	width: 155px;
	height: 155px;
	border-right: 1px solid #222;
	border-top: 1px solid #222;
	position: relative;
}

.if-clients li img {
	position: absolute;
}

.if-clients li>span {
	width: 155px;
	height: 155px;
	border-right: 1px solid #222;
	border-top: 1px solid #222;
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.if-clients li:hover>span {
	opacity: 0;
}
/* MyMap */
.myMap {
	margin-left: 398px;
	width: 100% -398px;
	height: 100%;
}

.myMap h4 {
	color: #ffc200;
}

.myMap p {
	color: #777;
	font-size: 11px;
	line-height: 14px;
	text-shadow: #fff 0px 0px 0px;
	margin: 0px;
	padding: 0px;
	left: 0;
	top: 0;
}
/* iF Contact ---------------*/
.if-form {
	margin: 22px;
}

.if-social-contact {
	margin: 22px;
	width: 199px;
}

ol.if-data {
	margin-top: 14px;
	line-height: 7px;
}

ol.if-data li {
	position: relative;
	display: inline-block !important;
	margin: 0px 0px 7px 17px;
	padding: 0px 0 0 7px;
}

ol.if-data li span {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0px;
	left: 5px;
}

ol.if-data li span.contact-icon1 {
	background: url(../../img/contact/icon-pin.png) no-repeat center;
}

ol.if-data li span.contact-icon2 {
	background: url(../../img/contact/icon-phone.png) no-repeat center;
}

ol.if-data li span.contact-icon3 {
	background: url(../../img/contact/icon-mail.png) no-repeat center;
}

#sent-form-msg,#error {
	margin: 7px 0 0 4px;
	font-size: 11px;
}

#sent-form-msg {
	color: green
}

#error {
	color: red;
}
/*----social-----*/
.if-social {
	position: absolute;
	width: 201px;
	height: 25px;
	padding-top: 5px;
	bottom: 0px;
	background-color: rgba(255, 255, 255, .5);
}
/* TWITTER --------------------------------------------------------*/
#twitter {
	position: absolute;
	bottom: 25px;
	height: 80px;
	width: 199px;
	background: transparent;
}

#twitter #bird {
	width: 35px;
	float: left;
	position: relative;
	top: -11px;
	left: 80px;
}

#twitter #prev-tweet {
	display: block;
	position: absolute;
	top: 21px;
	left: 10px;
	width: 30px;
	height: 35px;
	background: transparent url(../../img/ui/prev-arrow.png) no-repeat top
		left;
}

#twitter #next-tweet {
	display: block;
	position: absolute;
	top: 21px;
	right: 10px;
	width: 30px;
	height: 35px;
	background: transparent url(../../img/ui/next-arrow.png) no-repeat top
		right;
}

#twitter #tweets .tweet_list {
	display: block;
	position: absolute;
	top: 0px;
	left: 35px;
	width: 135px;
	height: 70px;
}

#twitter #tweets .tweet_list li {
	display: block;
	width: 135px;
	height: 70px;
	font-size: 11px;
	line-height: 1em;
	font-style: italic;
	color: #000;
	padding-top: 25px;
}

#twitter #tweets .tweet_list li .tweet_time a {
	text-decoration: none;
	color: #999;
}

#twitter #tweets .tweet_list li a {
	text-decoration: none;
	color: #37b2d1;
}

#twitter #tweets p.loading {
	margin-left: 25px;
	font-size: 11px;
	color: #ccc;
	padding-top: 25px;
	line-height: 1.2em;
}

.twitter-follow-button {
	position: relative;
	top: -1px;
	left: 0px;
}

.fb-like {
	position: relative;
	top: -4px;
	margin-left: -2px;
}
