@charset "utf-8";
/* CSS Document */
.main{margin:3%;
}

.roll li {
	float:left;
	list-style:none;
	height: 160px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
margin-bottom: 0;
}


.menu
{float:right;}

.menu li
{float:left; list-style:none;margin: -12px 71px 22px 133px;}
.logo{margin:0px 0px -20px 29px;}