@charset "utf-8";
/* CSS Document */
.main {
	margin:3%;
}
.roll li {
	float:left;
	list-style:none;
	height: 160px;
}
.menu {

	border: none;
}
.menu li {

	list-style:none;
	text-align:right;
	
	
}
.logo {
	float:left;
	margin-bottom: 20px;
	
}
