@charset "utf-8";
/* CSS Document */
.main {
	margin:3%;
}
.roll li {
	float:left;
	list-style:none;
	height: 160px;
	
}
.opacity li img{background-color:#30f; color:#fff; -moz-opacity:0.4; -webkit-opacity:0.2;}
.menu {

	border: none;
}
.menu li {

	list-style:none;
	text-align:right;
	
	
}
.logo {
	float:left;
	margin-bottom: 20px;
	
}
.related img{position:absolute;top:36%;left:8%;}
.related1{background: #262932;
display: block;
margin:278px 0px 0px 80px;
width: 200px;
height: 45px;
position:absolute;
font-size:14px;
font-weight:700;color:white;
}
.block p{ text-align:center;}
.related2 {
	width:200px;
	background:red;
	height:151px;
	position:absolute;
	font-size:14px;
	color:white;
	margin:195px 0px 0px 280px;
	text-align:center;}
	
	.related3{background: #262932;
display: block;
margin:1px 0px 0px 390px;
width: 200px;
height: 45px;
position:absolute;
font-size:14px;text-align:center;
font-weight:700;color:white;
}


.related4{background: white;
display: block;
margin:47px 0px 0px 482px;
width: 300px;
height: 445px;
position:absolute;
font-size:14px;
font-weight:700;color:black;
}
.related5 img{position:absolute;top:37%;left:52%; height:1500px; width:300px;}
.link
{ 
width: 100%;
text-align: center;
top:64%;
color:white;
right:30%;
position: absolute;
}

.link1
{ 
width: 100%;
text-align: center;
top:65%;
color:white;
left:16%;
position: absolute;
}
		
