body{
	margin: 0px;
	padding: 0px;
}

.container img{position:relative;}
.fourth img{position:relative;}
.fourth p{z-index:1;position:relative;left:2%;top:257px;}
.main {
	background: url(../invi/11.png) no-repeat;
	margin: 0px;
	padding: 0px;
}