* {margin: 0; padding: 0;}
html{background: #ffc200;}
body {position: absolute; top: 22%; left: 0px; width: 100%; height:500px; text-align: center; min-width: 400px; }

h1 { color: #fff; opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50);letter-spacing: -1px; font: bold 59px Helvetica, Arial, Geneva, sans-serif; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); display: block; text-align: center; margin-bottom: 14px;}
h2 {color: #555; letter-spacing: -1px; font: 22px Helvetica, Arial, Geneva, sans-serif; display: block; text-align: center; margin-bottom: 14px;}
h3 {color: #555; font: 14px Helvetica, Arial, Geneva, sans-serif; display: block; text-align: center; }

figure{background: url(http://if-cs.com/404/img/404.jpg) no-repeat center; width:100%; height:370px;}


a {color: #353535;}
a.button {height: 15px;  position: relative; display: inline-block !important; background-repeat: repeat-x; margin: 0px 0px 20px 10px; padding: 14px 17px 14px 62px; cursor: pointer; font: 700 14px 'Arial', Helvetica, Clean, sans-serif; text-decoration: none; text-align: right; font-weight: bold; font-size: 14px;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.3); -moz-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.3); box-shadow: 2px 2px 2px 0 rgba(0,0,0,.3);
    transition: background-position .2s ease, margin .1s ease; -webkit-transition: background-position .2s ease, margin .1s ease; -moz-transition: background-position .2s ease, margin .1s ease;}

a.button:hover { background-position: 0 10px; color: #000; }
a.button:active {-webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,.3); -moz-box-shadow: -1px -1px 2px 0 rgba(0,0,0,.3); box-shadow: -1px -1px 2px 0 rgba(0,0,0,.3); margin: 1px 0 20px 10px;}

a.button span.bar {width: 1px; height: 29px; position: absolute; background: black; top: 7px; left: 50px;}
a.button span.bullif { position: absolute; background: url(http://if-cs.com/404/img/if.png) no-repeat center; width: 29px; height: 29px; top: 7px; left: 11px;}

a.yellow { background-color: #ffba00; text-shadow: 1px 1px 1px #ffc33d; border-top: 1px solid #ffff3d;}
a.yellow span.bar { -webkit-box-shadow: 1px 1px 1px #ffc33d; -moz-box-shadow: 1px 1px 1px #ffc33d; box-shadow: 1px 1px 1px #ffc33d;}
