.show-for-small /* Visible up to 768px */      
.show-for-medium-down /* Visible from 1280px down */      
.show-for-medium /* Visible between 768px and 1280px */      
.show-for-medium-up /* Visible from 1280px up */      
.show-for-large-down /* Visible from 1440px down */      
.show-for-large /* Visible between 1280px and 1440px */      
.show-for-large-up /* Visible from 1440px up */      
.show-for-xlarge /* Visible above 1440px only */
	/* The hide classes */      
.hide-for-small /* Hidden up to 768px */      
.hide-for-medium-down /* Hidden from 1280px down */      
.hide-for-medium /* Hidden between 768px and 1280px */      
.hide-for-medium-up /* Hidden from 1280px up */      
.hide-for-large-down /* Hidden from 1440px down */      
.hide-for-large /* Hidden between 1280px and 1440px */      
.hide-for-large-up /* Hidden from 1440px up */      
.hide-for-xlarge /* Hidden above 1440px only */
	/* The orientation classes */      
.show-for-landscape /* Visible for landscape orientation */      
.show-for-portrait /* Visible for portrait orientation */      
.hide-for-landscape /* Hidden for landscape orientation */      
.hide-for-portrait /* Hidden for portrait orientation */
	/* The touch detection classes */      
.show-for-touch /* Visible for touch enabled devices */      
.hide-for-touch /* Hidden for touch enabled devices */
	/************************* Menu ************************/     

/*portfolio starts*/












/*portfolio ends*/









.align li {
	margin: 10px;
}

.logo {
	background: white !important;
	max-width: 80em;
	margin: 30px auto;
}

.top-bar .toggle-topbar.menu-icon a {
	color: black;
}

.top-bar .toggle-topbar.menu-icon a span {
	-webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px
		black;
	box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
}

.top-bar.expanded .title-area {
	background: white;
}

.top-bar-section ul li>a {
	background: white !important;
	color: black;
}

.top-bar-section ul li>a:hover {
	background: white;
}

.top-bar-section
 
li
 
a
:not

 
(
.button
 
)
{
background
:
 
white
;


}
.top-bar-section li a:hover {
	color: #1F7FC7;
}

.top-bar {
	height: 55px;
}

.top-bar .name {
	height: 55px;
}

.left {
	position: absolute;
}
/************************* Menu ************************/

/************** General **************/
.container {
	max-width: 82em;
	margin: 0 auto;
}
/**************General-End ***********/

/************ Home page Images *****************/
.home_images li {
	max-width: 160px;
	max-height: 160px;
	float: left;
	list-style: none;
}

/************ Home page Images *****************/

/*Service */
.service p {
	font-size: 12px;
}

.listing li {
	list-style: none;
}

.listing li  a span.icon1 {
	background: url(../box/icon1.png) no-repeat center;
	position: absolute;
	width: 18px;
	height: 50px;
	bottom: -11px;
	left: 7px;
}

.listing li  a span.icon2 {
	background: url(../box/icon2.png) no-repeat center;
	position: absolute;
	width: 15px;
	height: 50px;
	bottom: -11px;
	left: 7px;
}

.listing li  a span.icon3 {
	background: url(../box/icon3.png) no-repeat center;
	position: absolute;
	width: 15px;
	height: 50px;
	bottom: -11px;
	left: 7px;
}

.listing li  a span.icon4 {
	background: url(../box/icon4.png) no-repeat center;
	position: absolute;
	width: 22px;
	height: 50px;
	bottom: -11px;
	left: 7px;
}

.listing li  a span.icon5 {
	background: url(../box/icon5.png) no-repeat center;
	position: absolute;
	width: 25px;
	height: 50px;
	bottom: -11px;
	left: 7px;
}

.listing li  a span.icon6 {
	background: url(../box/icon6.png) no-repeat center;
	position: absolute;
	width: 21px;
	height: 50px;
	bottom: -12px;
	left: 7px;
}

.listing li  a span.icon7 {
	background: url(../box/icon7.png) no-repeat center;
	position: absolute;
	width: 15px;
	height: 50px;
	bottom: -61px;
	left: 7px;
}

.listing li  a span.icon8 {
	background: url(../box/icon8.png) no-repeat center;
	position: absolute;
	width: 15px;
	height: 50px;
	bottom: -71px;
	left: 7px;
}

.listing li  a span.icon10 {
	background: url(../box/icon10.png) no-repeat center;
	position: absolute;
	width: 23px;
	height: 50px;
	bottom: -13px;
	left: 7px;
}

.listing li a span.bar {
	width: 1px;
	height: 17px;
	position: absolute;
	background: #999 !important;
	top: 7px;
	left: 35px;
}

.listing li a {
	position: relative;
	display: inline-block !important;
	width: 144px;
	height: 29px;
	margin-left: 3px;
	padding: 5px 0px 22px 47px;
	background-color: #ddd;
	border-top: 1px solid #fff;
	cursor: pointer;
	font: 700 15px Helvetica, Arial, Clean, sans-serif;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	font-weight: normal;
	font-size: 14px;
	color: #888;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
	transition: background-position .2s ease, margin .1s ease;
	-webkit-transition: background-position .2s ease, margin .1s ease;
	-moz-transition: background-position .2s ease, margin .1s ease;
}

.align img {
	margin-left: 48px;
}

.big li img {
	height: 514px;
}

.big li {
	top: 15%;
	list-style: none;
}

.align p {
	font-size: 12px;
	text-align: justify;
}

.row {
	max-width: 82em !important
}



.ei-title {
	background-color: rgba(222, 225, 222, 0.9) !important;
	height: 600px !important;
	padding: 18px;
}

.listing1 img {
	list-style: none;
	width: 28px;
	float: left;
	margin: 0 13px;
}

.listing1 li {
	list-style: none;
}

.two {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.three {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.four {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.five {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.six {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.service h4 {
	color: #217Dc5;
}
/*portfolio*/
.portfolio {
	position: absolute;
	left: 1%;
	display: none;
}

.four {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.five {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.six {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.service h4 {
	color: #217Dc5;
}
/*portfolio*/
.portfolio {screative .gitposition :absolute;
	left: 1%;
	display: none;
}

.three {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.four {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.five {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.six {
	top: 2%;
	position: absolute;
	left: 1%;
	display: none;
}

.service h4 {
	color: #217Dc5;
}

.portfolio {
	position: absolute;
	top: 246px;
	left: 40%;
	background: #2F7EC1;
	text-align: center;
	color: white;
	width: 462px;
	height: 235px;
}

.portfolio p {
	font-family: 'Gabriela', serif;
	font-size: 41px;
	padding: 0px 70px;
	line-height: 47px;
}

.portfolio:HOVER {
	background: #6699FF;
	color: black;
	cursor: pointer;
}
/*portfolio*/

/*contact*/


.row .large-3 {

min-height: 112px !important;
background-color: #DFE2DF;
}
.conta {
	margin-top: 127px;
}

.first{
	background-color: deepskyblue;
	
	color: white;
}

.second{
	background-color: dodgerblue;
	color: white;
}

.first img{
margin-top: -23px;
position: absolute;
margin-left: -16PX;
}


.second img{
	margin-top: -33px;
position: absolute;
margin-left: -15PX;
}

.third img{
	margin-top: -33px;
position: absolute;
margin-left: -15PX;
}


.third{
	background-color: royalblue;
	color: white;
}


.first1 p{
color:#1C87D7;
margin-top: -38px;
margin-left: 90px;
}

.second1 p{
	color:#1C87D7;
	
}

.third1 p{
	color:#1C87D7;
	min-height: 129px;
margin-left: 128px;
margin-top: 63px;
}

.heading{
background: white;
margin-top: 40px;
}


.who h3{
	color:deepskyblue;
}

.the h3{
	color:dodgerblue;
}

.useful h3{
	color:royalblue;
}

.heading li{
	padding: 0px 25px;
	
}

.heading li:first-child{
	list-style:none;
}

.heading li{
	
float: left;
}

.con .first,.first1{
	padding: 4px 15px;
}
.con .second,.second1{
	margin: 0px 40px;
}
.con .third,.third1{
	margin: 0px 40px;
	float:left !important;
}
.con h2{
	font-size: 15px;
	color: white;
}
.con .columns {
	padding: 14px;
}
.con ul span{
	font-size: 12px;
	margin:0px;
	
display: inline-block;
padding: 16px 3px;
color:#2C80C2;

}
.con li img{
	float:left;
}

.con p>span{
	font-size: 12px;
	font-weight: bolder;
}

.con ul li{
	list-style: none;
	display: inline-block;
	
}
.down{
	margin-top:11px;
}

.first1 {
	background:white;


}

.second1{
	background:white;
	min-height: 187px;
}

.third1{
	background:white;
	
}
.address1 {
	background-color: #2F7EC1;
}

.address1 ul {
	list-style: none;
	color: white;
}

footer div.social1 {
	margin: 20px 0px;
}

.social {
	height: 26px;
	overflow: hidden;
}

.social img {
	cursor: pointer;
	float: left;
}

.social .set {
	float: left;
	width: 26px;
	height: 30px;
	overflow: hidden;
}

.social .set1 {
	display: inline-block;
	width: 37px;
}

.set1 iframe {
	padding-top: 4px;
	padding-left: 6px;
	width: 160px !important;
	height: 28px !important;
}

.coming h1 {
	font-family: 'Gabriela', serif;
}

.background_image {
	background: url(../images/background1.png) no-repeat;
	padding: 8px;
}

.about dd {
	padding: 10px;
	margin: 4px;
	background: white;
	font-size: 13px;
	line-height: 30px;
}
.about dd:hover{
	background: #1D81C9;
	color: white;
	cursor: pointer;
-moz-box-shadow:0px 0px 10px 6px rgba(119, 119, 119, 1);
-webkit-box-shadow:0px 0px 10px 6px rgba(119, 119, 119, 1);
box-shadow:0px 0px 10px 6px rgba(119, 119, 119, 1);
}

.about .large-4 {
	margin: 0px;
	padding: 0px;
}
hr{
border-width: 4px;
margin-left: 28px;
border-color: #1D81C9;
}

.alignn{
	display: inline-block;
padding-top: 45px;
}


.second1 p{
	border-bottom: 1px solid #1C87D7;
}

.second1 p:last-child{
	border-bottom:none;
	
}
